body {
   background-color: #fff;
}

nav {
   text-align: right;
   margin: 1rem;
   ul {
      list-style: none;
      // line-height: 14px;
   }
   li {
      display: inline;
      font: 0.8em sans-serif;
      margin: 0.2rem;
      padding-bottom: 10px;
   }
   li a {
      text-decoration: none;
      color: black;
   }
   li a:hover {
      text-decoration: underline;
   }
   .grid-fill {
      margin-left: 1rem;
   }
   .path {
      margin-top: 18px;
   }
   li .sign-in {
      background-color: #0d6efd;
      border: none;
      color: white;
      padding: 0.7rem 1.6rem;
      border-radius: 5px;
   }
}

.main {
   .google-img,
   .form {
      display: flex;
      justify-content: center;
   }
   .round {
      height: 44px;
      width: 44%;
      margin-top: 3rem;
      // border-radius: 50%;
      border-end-start-radius: 25px;
      border-top-left-radius: 25px;
      border-start-end-radius: 25px;
      border-bottom-right-radius: 25px;
      border: solid 1px #dfe1e5;
   }

   .round:hover,
   .round:focus-within {
      box-shadow: 0px 0px 8px #dfe1e5;
   }

   .round .row {
      display: flex;
      justify-content: space-between;

      .col-start {
         width: 8%;

         .icon-search {
            width: 45%;
            // height: 44px;
            margin: 20% auto;
            margin-left: 12px;

            .icon {
               opacity: 0.3;
            }
         }
      }

      .col-center {
         width: 75%;

         .search {
            width: 100%;
            height: 42px;
            border: none;
         }

         .search:focus-visible {
            outline: #fff;
         }
      }

      .col-end {
         width: 17%;
         display: flex;
         justify-content: space-evenly;

         .close svg {
            margin: 20%;
            opacity: 0.5;
         }

         .barrier {
            margin-top: 7px;
            width: 1px;
            height: 30px;
            background-color: black;
            opacity: 0.2;
         }

         .hiden {
            opacity: 0;
         }

         .camera {
            width: 25%;
            height: 44px;
         }
      }

      button {
         background-color: #f8f9fa;
         height: 36px;
         padding: 0 16px;
         margin: 30px 20px 0 0;
         border: none;
         border-radius: 5px;
         font-family: Arial, sans-serif;
         font-size: 0.9rem;
         color: #3a3b3b;
      }

      button:hover {
         border: solid 1px #dadce0;
      }

      button a,
      button a:visited {
         text-decoration: none;
         color: #3a3b3b;
      }
   }

   .round .row:last-child {
      display: flex;
      justify-content: center;
   }
}
